@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

.mobile_section {
  margin-left: 70px !important;
}

.menu {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.right {
  background: url("/Assets/Mobile\ app\ background.png") no-repeat;
  background-position: center;
  height: 100vh;
}
.left {
  background: url("/Assets/Desktop\ app\ background.png") no-repeat;
  background-position: center;
  height: 100vh;
}
.image1 {
  padding-top: 130px !important;
  padding-left: 160px !important;
}
.image2 {
  padding-top: 150px !important;
  padding-left: 35px !important;
}
.steps {
  padding: 10px 16px;
  margin: 20px 10px;
  border-left: 5px solid #fff;
  font-size: 15px;
}
.steps:hover {
  border-left: 8px solid #ffb700;
}
.title {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding-top: 50px;
  color: #ffff;
}
.subtitle {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 600;
  padding-top: 30px;
  color: #ffff;
}
.navline {
  text-decoration: none !important;
  color: rgb(146, 142, 142) !important;
}
.questions {
  padding: 150px;
}
.questions_title {
  margin-bottom: 20px;
  width: 500px;
}
.details {
  padding: 1px 100px;
}
.text_style {
  display: inline !important;
}